**/.DS_Store
.env
.venv
dbt/**/logs
dbt/**/target
dbt/.user.yml
input/*
!input/.gitkeep
!input/premium_transactions_data_20250306.json

*_cache*
__pycache__/
output/*
!output/.gitkeep

.coverage
coverage.txt
coverage.html
coverage.out

**/dbt_packages/
